h1 {
    color: blue;

}
h2 {
    color: #3f5e9c;

}
p{
    color: #ff2828cc;
}

button{
    color: red;
    background-color: royalblue;
}
body{
    background-color:#c7c7c7;
}
.fixed_header{
    position: fixed;
    background-color: white;
    top:0;
    left:0;
    right:0;
    


}
.header {
    font-size: 0;
    margin: 40px 20px 0 20px;
    font-family: sans-serif;
    height: 45px;
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;*/
  

  }

  li {
    display: inline;
    align-items: center;
  }

  .header > *{
      display: inline-block;
      font-size: 16px;
      vertical-align: middle;
      height: 100%;
      line-height: 45px;
  }
  .logo {
      width: 15%;
    }
    .navbar {
        width: 70%;
        text-align: center;
        font-weight: 600;
        
        
        
    }
    
    li {
        margin-left: 25px;
        margin-right: 25px;
    }
    .actions {
        width: 15%;
        text-align: left;
        font-size: 14px;
        
    }
    .actions a{
        color: #67b54b;
    }
    .actions button {
        color: white;
        background-color: #67b54b;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 12px;
        padding-bottom: 12px;
        border: 4;
        border-color: black;
        border-radius: 5px;
        
      }
      .promo{
        display: flex;
        width: 70%;
        margin: 100px auto;
        align-items: center;
        justify-content: space-between 10px;

      }
      .publish {
        /* container styles if any */
      }
      
      .publish h3 {
        font-family: "Alegreya", serif;
        font-size: 40px;
        line-height: 48px;
        color: #025157;
      }
      
      .publish > p {
        font-size: 16px;
        color: #343434;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      
      /*.publish > form {
        display: flex;
        
      }*/
      
      .publish > form p {
        color: #025157;
        margin-right: 18px;
      }
      