h1 {
    color: blue;

}
h2 {
    color: #3f5e9c;

}
p{
    color: #ff2828cc;
}

button{
    color: red;
    background-color: royalblue;
}
body{
    background-color:#ff0000;
}
.header {
    font-size: 0;
    margin: 40px 20px 0 20px;
    font-family: sans-serif;
    height: 45px;
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;*/
  

  }

  li {
    display: inline;
    align-items: center;
  }

  .header > *{
      display: inline-block;
      font-size: 16px;
      vertical-align: middle;
      height: 100%;
      line-height: 45px;
  }
  .logo {
      width: 15%;
    }
    .navbar {
        width: 70%;
        text-align: center;
        font-weight: 600;
        
        
        
    }
    
    
    li {
        margin-left: 25px;
        margin-right: 25px;
    }
    .actions {
        width: 15%;
        text-align: left;
        font-size: 14px;
    }
    .actions a{
        color: #67b54b;
    }
    .actions button {
        color: white;
        background-color: #67b54b;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 12px;
        padding-bottom: 12px;
        border: 4;
        border-color: black;
        border-radius: 5px;
      }
      